{{- $data := `
   $SERVICES$
` | fromJson -}}

http:
  routers:
    {{- range $index, $element := $data }}
    {{ $element.service }}:
      rule: Host(`{{ $element.service }}.example.com`)
      entryPoints:
        - external
      service: {{ $element.service }}
    {{- end }}
  services:
    {{- range $index, $element := $data }}
    {{ $element.service }}:
      loadBalancer:
        servers:
        - url: {{ $element.url }}
    {{- end }}
